In [12]:
import pandas as pd

In [13]:
Files = ["Data/sportsref_download1979-80.csv",
          "Data/sportsref_download1980-81.csv",
          "Data/sportsref_download1981-82.csv",
          "Data/sportsref_download1982-83.csv",
          "Data/sportsref_download1983-84.csv",
          "Data/sportsref_download1984-85.csv",
          "Data/sportsref_download1985-86.csv",
          "Data/sportsref_download1986-87.csv",
          "Data/sportsref_download1987-88.csv",
          "Data/sportsref_download1988-89.csv",
          "Data/sportsref_download1989-90.csv",
          "Data/sportsref_download1990-91.csv",
          "Data/sportsref_download1991-92.csv",
          "Data/sportsref_download1992-93.csv",
          "Data/sportsref_download1993-94.csv",
          "Data/sportsref_download1994-95.csv",
          "Data/sportsref_download1995-96.csv",
          "Data/sportsref_download1996-97.csv",
          "Data/sportsref_download1997-98.csv",
          "Data/sportsref_download1998-99.csv",
          "Data/sportsref_download1999-00.csv",
          "Data/sportsref_download2000-01.csv",
          "Data/sportsref_download2001-02.csv",
          "Data/sportsref_download2002-03.csv",
          "Data/sportsref_download2003-04.csv",
          "Data/sportsref_download2004-05.csv",
          "Data/sportsref_download2005-06.csv",
          "Data/sportsref_download2006-07.csv",
          "Data/sportsref_download2007-08.csv",
          "Data/sportsref_download2008-09.csv",
          "Data/sportsref_download2009-10.csv",
          "Data/sportsref_download2010-11.csv",
          "Data/sportsref_download2011-12.csv",
          "Data/sportsref_download2012-13.csv",
          "Data/sportsref_download2013-14.csv",
          "Data/sportsref_download2014-15.csv",
          "Data/sportsref_download2015-16.csv",
          "Data/sportsref_download2016-17.csv",
          "Data/sportsref_download2017-18.csv",
          "Data/sportsref_download2018-19.csv"]

In [14]:
mvp_df = pd.DataFrame()

In [15]:
for file in Files:
    df = pd.read_csv(file)
    mvp_df = mvp_df.append(df)

In [16]:
mvp_df.drop_duplicates()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,season
0,1,Kareem Abdul-Jabbar,32.0,LAL,147.0,147.0,221.0,0.665,82.0,38.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Julius Erving,29.0,PHI,31.5,31.5,221.0,0.143,78.0,36.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,George Gervin,27.0,SAS,19.0,19.0,221.0,0.086,78.0,37.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Larry Bird,23.0,BOS,15.0,15.0,221.0,0.068,82.0,36.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5T,Tiny Archibald,31.0,BOS,2.0,2.0,221.0,0.009,80.0,35.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7,8,Kevin Durant,30.0,GSW,0.0,25.0,1010.0,0.025,78.0,34.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-19
8,9,Kawhi Leonard,27.0,TOR,0.0,13.0,1010.0,0.013,60.0,34.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-19
9,10,Russell Westbrook,30.0,OKC,0.0,8.0,1010.0,0.008,73.0,36.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-19
10,11T,Rudy Gobert,26.0,UTA,0.0,1.0,1010.0,0.001,81.0,31.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-19
11,11T,LeBron James,34.0,LAL,0.0,1.0,1010.0,0.001,55.0,35.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-19

In [17]:
mvp_df.to_csv("Data/MVP.csv")