In [1]:
import pandas as pd

In [2]:
files = ['rookies_00_01.xlsx',
'rookies_01_02.xlsx',
'rookies_02_03.xlsx',
'rookies_03_04.xlsx',
'rookies_04_05.xlsx',
'rookies_05_06.xlsx',
'rookies_06_07.xlsx',
'rookies_07_08.xlsx',
'rookies_08_09.xlsx',
'rookies_09_10.xlsx',
'rookies_10_11.xlsx',
'rookies_11_12.xlsx',
'rookies_12_13.xlsx',
'rookies_13_14.xlsx',
'rookies_14_15.xlsx',
'rookies_15_16.xlsx',
'rookies_16_17.xlsx',
'rookies_17_18.xlsx',
'rookies_18_19.xlsx',
'rookies_19_20.xlsx',
'rookies_90_91.xlsx',
'rookies_91_92.xlsx',
'rookies_92_93.xlsx',
'rookies_93_94.xlsx',
'rookies_94_95.xlsx',
'rookies_95_96.xlsx',
'rookies_96_97.xlsx',
'rookies_97_98.xlsx',
'rookies_98_99.xlsx',
'rookies_99_00.xlsx']

In [3]:
seasons = ['2000-01','2001-02', '2002-03','2003-04','2004-05','2005-06','2006-07','2007-08','2008-09','2009-10',
          '2010-11','2011-12','2012-13', '2013-14', '2014-15', '2015-16','2016-17', '2017-18','2018-19','2019-20',
          '1990-91','1991-92','1992-93','1993-94','1994-95','1995-96','1996-97','1997-98','1998-99','1999-00']

In [4]:
print(len(files))
print(len(seasons))

30
30

In [5]:
test_zip = zip(files, seasons)
print(*test_zip)

('rookies_00_01.xlsx', '2000-01') ('rookies_01_02.xlsx', '2001-02') ('rookies_02_03.xlsx', '2002-03') ('rookies_03_04.xlsx', '2003-04') ('rookies_04_05.xlsx', '2004-05') ('rookies_05_06.xlsx', '2005-06') ('rookies_06_07.xlsx', '2006-07') ('rookies_07_08.xlsx', '2007-08') ('rookies_08_09.xlsx', '2008-09') ('rookies_09_10.xlsx', '2009-10') ('rookies_10_11.xlsx', '2010-11') ('rookies_11_12.xlsx', '2011-12') ('rookies_12_13.xlsx', '2012-13') ('rookies_13_14.xlsx', '2013-14') ('rookies_14_15.xlsx', '2014-15') ('rookies_15_16.xlsx', '2015-16') ('rookies_16_17.xlsx', '2016-17') ('rookies_17_18.xlsx', '2017-18') ('rookies_18_19.xlsx', '2018-19') ('rookies_19_20.xlsx', '2019-20') ('rookies_90_91.xlsx', '1990-91') ('rookies_91_92.xlsx', '1991-92') ('rookies_92_93.xlsx', '1992-93') ('rookies_93_94.xlsx', '1993-94') ('rookies_94_95.xlsx', '1994-95') ('rookies_95_96.xlsx', '1995-96') ('rookies_96_97.xlsx', '1996-97') ('rookies_97_98.xlsx', '1997-98') ('rookies_98_99.xlsx', '1998-99') ('rookies_99_00.xlsx', '1999-00')

In [7]:
for f, s in zip(files, seasons):
#     print(f)
#     print(s)
#     print('-'*20)
    file_df = pd.read_excel(f)
    file_df.columns = file_df.iloc[0]
    file_df = file_df.drop(file_df.index[0])
    file_df['season'] = s
#     print(file_df)
    file_df.to_excel(f)

In [53]:
# roy = pd.read_excel('rookies_94_95.xlsx')
# roy

In [54]:
roy_files = ['roy_00_01.xlsx',
'roy_01_02.xlsx',
'roy_02_03.xlsx',
'roy_03_04.xlsx',
'roy_04_05.xlsx',
'roy_05_06.xlsx',
'roy_06_07.xlsx',
'roy_07_08.xlsx',
'roy_08_09.xlsx',
'roy_09_10.xlsx',
'roy_10_11.xlsx',
'roy_11_12.xlsx',
'roy_12_13.xlsx',
'roy_13_14.xlsx',
'roy_14_15.xlsx',
'roy_15_16.xlsx',
'roy_16_17.xlsx',
'roy_17_18.xlsx',
'roy_18_19.xlsx',
'roy_90_91.xlsx',
'roy_91_92.xlsx',
'roy_92_93.xlsx',
'roy_93_94.xlsx',
'roy_94_95.xlsx',
'roy_95_96.xlsx',
'roy_96_97.xlsx',
'roy_97_98.xlsx',
'roy_98_99.xlsx',
'roy_99_00.xlsx']

In [55]:
seasons_2 = ['2000-01','2001-02', '2002-03','2003-04','2004-05','2005-06','2006-07','2007-08','2008-09','2009-10',
          '2010-11','2011-12','2012-13', '2013-14', '2014-15', '2015-16','2016-17', '2017-18','2018-19',
          '1990-91','1991-92','1992-93','1993-94','1994-95','1995-96','1996-97','1997-98','1998-99','1999-00']

In [56]:
print(len(roy_files))
print(len(seasons_2))

29
29

In [57]:
roy_zip = zip(roy_files, seasons_2)
print(*roy_zip)

('roy_00_01.xlsx', '2000-01') ('roy_01_02.xlsx', '2001-02') ('roy_02_03.xlsx', '2002-03') ('roy_03_04.xlsx', '2003-04') ('roy_04_05.xlsx', '2004-05') ('roy_05_06.xlsx', '2005-06') ('roy_06_07.xlsx', '2006-07') ('roy_07_08.xlsx', '2007-08') ('roy_08_09.xlsx', '2008-09') ('roy_09_10.xlsx', '2009-10') ('roy_10_11.xlsx', '2010-11') ('roy_11_12.xlsx', '2011-12') ('roy_12_13.xlsx', '2012-13') ('roy_13_14.xlsx', '2013-14') ('roy_14_15.xlsx', '2014-15') ('roy_15_16.xlsx', '2015-16') ('roy_16_17.xlsx', '2016-17') ('roy_17_18.xlsx', '2017-18') ('roy_18_19.xlsx', '2018-19') ('roy_90_91.xlsx', '1990-91') ('roy_91_92.xlsx', '1991-92') ('roy_92_93.xlsx', '1992-93') ('roy_93_94.xlsx', '1993-94') ('roy_94_95.xlsx', '1994-95') ('roy_95_96.xlsx', '1995-96') ('roy_96_97.xlsx', '1996-97') ('roy_97_98.xlsx', '1997-98') ('roy_98_99.xlsx', '1998-99') ('roy_99_00.xlsx', '1999-00')

In [58]:
for f, s in zip(roy_files, seasons_2):
    print(f)
    print(s)
    print('-'*20)
    file_df = pd.read_excel(f)
    file_df.columns = file_df.iloc[0]
    file_df = file_df.drop(file_df.index[0])
    file_df['season'] = s
#     print(file_df)
    file_df.to_excel(f)

roy_00_01.xlsx
2000-01
--------------------
roy_01_02.xlsx
2001-02
--------------------
roy_02_03.xlsx
2002-03
--------------------
roy_03_04.xlsx
2003-04
--------------------
roy_04_05.xlsx
2004-05
--------------------
roy_05_06.xlsx
2005-06
--------------------
roy_06_07.xlsx
2006-07
--------------------
roy_07_08.xlsx
2007-08
--------------------
roy_08_09.xlsx
2008-09
--------------------
roy_09_10.xlsx
2009-10
--------------------
roy_10_11.xlsx
2010-11
--------------------
roy_11_12.xlsx
2011-12
--------------------
roy_12_13.xlsx
2012-13
--------------------
roy_13_14.xlsx
2013-14
--------------------
roy_14_15.xlsx
2014-15
--------------------
roy_15_16.xlsx
2015-16
--------------------
roy_16_17.xlsx
2016-17
--------------------
roy_17_18.xlsx
2017-18
--------------------
roy_18_19.xlsx
2018-19
--------------------
roy_90_91.xlsx
1990-91
--------------------
roy_91_92.xlsx
1991-92
--------------------
roy_92_93.xlsx
1992-93
--------------------
roy_93_94.xlsx
1993-94
--------------------
roy_94_95.xlsx
1994-95
--------------------
roy_95_96.xlsx
1995-96
--------------------
roy_96_97.xlsx
1996-97
--------------------
roy_97_98.xlsx
1997-98
--------------------
roy_98_99.xlsx
1998-99
--------------------
roy_99_00.xlsx
1999-00
--------------------

In [60]:
# pd.read_excel('roy_92_93.xlsx')

In [38]:
print(len(files))

30

In [19]:
all_rookies_df = pd.DataFrame()

In [20]:
for file in files:
    a = pd.read_excel(file)
    b = pd.DataFrame(a)
#     print(b.columns)
    all_rookies_df = all_rookies_df.append(b)
#     print(b)

In [21]:
all_rookies_df

,Unnamed: 0,Rk,Player,Debut,Age,Yrs,G,MP,FG,FGA,...,PF,PTS,FG%,3P%,FT%,MP.1,PTS.1,TRB.1,AST.1,season
0,1,1,Courtney Alexander,"Nov 4, '00, DAL vs. UTA",23,1,65,1382,239,573,...,139,618,0.417,0.370,0.820,21.3,9.5,2.2,1.0,2000-01
1,2,2,Dalibor Bagarić,"Nov 22, '00, CHI @ SAC",20,1,35,259,17,65,...,44,47,0.262,0.000,0.464,7.4,1.3,1.6,0.3,2000-01
2,3,3,Erick Barkley,"Nov 2, '00, POR @ PHO",22,1,8,38,8,22,...,2,19,0.364,0.375,NaN,4.8,2.4,0.4,0.8,2000-01
3,4,4,Raja Bell,"Apr 6, '01, PHI vs. CLE",24,1,5,30,2,7,...,1,5,0.286,0.333,NaN,6.0,1.0,0.2,0.0,2000-01
4,5,5,Mark Blount,"Nov 1, '00, BOS vs. DET",25,1,64,1098,101,200,...,183,248,0.505,NaN,0.697,17.2,3.9,3.6,0.5,2000-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55,56,56,Mirsad Türkcan,"Nov 19, '99, NYK @ PHO",23,1,17,90,14,38,...,14,33,0.368,0.000,0.625,5.3,1.9,1.9,0.3,1999-00
56,57,57,Wayne Turner,"Nov 2, '99, BOS @ TOR",23,1,3,41,1,6,...,4,4,0.167,NaN,0.333,13.7,1.3,1.0,1.7,1999-00
57,58,58,Dedric Willoughby,"Nov 5, '99, CHI vs. MIA",25,1,25,508,61,179,...,32,190,0.341,0.296,0.765,20.3,7.6,2.0,2.6,1999-00
58,59,59,Metta World Peace,"Nov 3, '99, CHI vs. NYK",20,1,72,2238,309,759,...,159,866,0.407,0.314,0.674,31.1,12.0,4.3,2.8,1999-00
59,60,60,Tim Young,"Nov 16, '99, GSW vs. CHI",23,1,25,137,13,39,...,18,54,0.333,NaN,0.778,5.5,2.2,1.4,0.2,1999-00

In [22]:
all_rookies_df.to_excel("all_rookies_1990_2020.xlsx")
# df1.to_excel("output.xlsx")

In [27]:
print(all_rookies_df['season'].unique())

['2000-01' '2001-02' '2002-03' '2003-04' '2004-05' '2005-06' '2006-07'
 '2007-08' '2008-09' '2009-10' '2010-11' '2011-12' '2012-13' '2013-14'
 '2014-15' '2015-16' '2016-17' '2017-18' '2018-19' '2019-20' '1990-91'
 '1991-92' '1992-93' '1993-94' '1994-95' '1995-96' '1996-97' '1997-98'
 '1998-99' '1999-00']

In [61]:
all_roy_df = pd.DataFrame()

In [62]:
for file in roy_files:
    a = pd.read_excel(file)
    b = pd.DataFrame(a)
#     print(b.columns)
    all_roy_df = all_roy_df.append(b)

In [63]:
all_roy_df['season'].unique()

array(['2000-01', '2001-02', '2002-03', '2003-04', '2004-05', '2005-06',
       '2006-07', '2007-08', '2008-09', '2009-10', '2010-11', '2011-12',
       '2012-13', '2013-14', '2014-15', '2015-16', '2016-17', '2017-18',
       '2018-19', '1990-91', '1991-92', '1992-93', '1993-94', '1994-95',
       '1995-96', '1996-97', '1997-98', '1998-99', '1999-00'],
      dtype=object)

In [64]:
all_roy_df.to_excel("all_roy_candidates_1990_2020.xlsx")

In [2]:
all_rook_df = pd.read_excel('all_rookies_1990_2020.xlsx')
all_rook_df

,Unnamed: 0,Unnamed: 0.1,Rk,Player,Debut,Age,Yrs,G,MP,FG,...,PF,PTS,FG%,3P%,FT%,MP.1,PTS.1,TRB.1,AST.1,season
0,0,1,1,Courtney Alexander,"Nov 4, '00, DAL vs. UTA",23,1,65,1382,239,...,139,618,0.417,0.370,0.820,21.3,9.5,2.2,1.0,2000-01
1,1,2,2,Dalibor Bagarić,"Nov 22, '00, CHI @ SAC",20,1,35,259,17,...,44,47,0.262,0.000,0.464,7.4,1.3,1.6,0.3,2000-01
2,2,3,3,Erick Barkley,"Nov 2, '00, POR @ PHO",22,1,8,38,8,...,2,19,0.364,0.375,NaN,4.8,2.4,0.4,0.8,2000-01
3,3,4,4,Raja Bell,"Apr 6, '01, PHI vs. CLE",24,1,5,30,2,...,1,5,0.286,0.333,NaN,6.0,1.0,0.2,0.0,2000-01
4,4,5,5,Mark Blount,"Nov 1, '00, BOS vs. DET",25,1,64,1098,101,...,183,248,0.505,NaN,0.697,17.2,3.9,3.6,0.5,2000-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2238,55,56,56,Mirsad Türkcan,"Nov 19, '99, NYK @ PHO",23,1,17,90,14,...,14,33,0.368,0.000,0.625,5.3,1.9,1.9,0.3,1999-00
2239,56,57,57,Wayne Turner,"Nov 2, '99, BOS @ TOR",23,1,3,41,1,...,4,4,0.167,NaN,0.333,13.7,1.3,1.0,1.7,1999-00
2240,57,58,58,Dedric Willoughby,"Nov 5, '99, CHI vs. MIA",25,1,25,508,61,...,32,190,0.341,0.296,0.765,20.3,7.6,2.0,2.6,1999-00
2241,58,59,59,Metta World Peace,"Nov 3, '99, CHI vs. NYK",20,1,72,2238,309,...,159,866,0.407,0.314,0.674,31.1,12.0,4.3,2.8,1999-00
2242,59,60,60,Tim Young,"Nov 16, '99, GSW vs. CHI",23,1,25,137,13,...,18,54,0.333,NaN,0.778,5.5,2.2,1.4,0.2,1999-00

In [3]:
del all_rook_df['Rk']
del all_rook_df['Unnamed: 0.1']

In [5]:
del all_rook_df['Unnamed: 0']

In [19]:
all_rook_df = all_rook_df.sort_values(by=['season'], ascending = False)
all_rook_df
# all_rook_df.sort_index(ascending = False)

,Player,Debut,Age,Yrs,G,MP,FG,FGA,3P,3PA,...,PF,PTS,FG%,3P%,FT%,MP.1,PTS.1,TRB.1,AST.1,season
1506,Justin James,"Oct 25, '19, SAC vs. POR",23,1,34,218,33,78,9,26,...,16,85,0.423,0.346,0.476,6.4,2.5,0.9,0.5,2019-20
1547,Kevin Porter,"Oct 23, '19, CLE @ ORL",19,1,50,1162,186,421,53,158,...,135,498,0.442,0.335,0.723,23.2,10.0,3.2,2.2,2019-20
1548,Michael Porter,"Oct 31, '19, DEN @ NOP",21,1,49,695,145,296,45,110,...,80,369,0.490,0.409,0.773,14.2,7.5,4.1,0.8,2019-20
1574,Justin Wright-Foreman,"Feb 21, '20, UTA vs. SAS",22,1,1,2,0,0,0,0,...,0,0,NaN,NaN,NaN,2.0,0.0,0.0,0.0,2019-20
1573,Zion Williamson,"Jan 22, '20, NOP vs. SAS",19,1,21,594,181,307,6,13,...,37,468,0.590,0.462,0.645,28.3,22.3,6.4,2.0,2019-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1610,Les Jepsen,"Nov 6, '90, GSW vs. LAC",23,1,21,105,11,36,0,1,...,16,28,0.306,0.000,0.667,5.0,1.3,1.8,0.0,1990-91
1577,Keith Askins,"Dec 11, '90, MIA @ NYK",23,1,39,266,34,81,6,25,...,46,86,0.420,0.240,0.480,6.8,2.2,1.7,0.5,1990-91
1575,Alaa Abdelnaby,"Nov 2, '90, POR vs. HOU",22,1,43,290,55,116,0,0,...,39,135,0.474,NaN,0.568,6.7,3.1,2.1,0.3,1990-91
1590,Richard Coffey,"Nov 2, '90, MIN vs. DAL",25,1,52,320,28,75,0,1,...,45,68,0.373,0.000,0.545,6.2,1.3,1.5,0.1,1990-91
1635,Tony Smith,"Nov 9, '90, LAL vs. SAC",22,1,64,695,97,220,0,7,...,80,234,0.441,0.000,0.702,10.9,3.7,1.1,2.1,1990-91

In [3]:
rookie_files = ['rookies_83_84.xlsx', 'rookies_84_85.xlsx', 'rookies_85_86.xlsx', 'rookies_86_87.xlsx', 'rookies_87_88.xlsx', 'rookies_88_89.xlsx', 'rookies_89_90.xlsx', 'all_rookies_1990_2020.xlsx']
roy_files = ['roy_83_84.xlsx', 'roy_84_85.xlsx', 'roy_85_86.xlsx', 'roy_86_87.xlsx', 'roy_87_88.xlsx', 'roy_88_89.xlsx', 'roy_89_90.xlsx', 'all_roy_candidates_1990_2020.xlsx']

In [5]:
all_roy_df = pd.DataFrame()

In [6]:
for file in roy_files:
    a = pd.read_excel(file)
    b = pd.DataFrame(a)
    all_roy_df = all_roy_df.append(b)

In [8]:
all_roy_df.sort_values(by=['season'], ascending = False)

,Unnamed: 0,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,season
146,0,1,Luka DonÄiÄ‡,19,DAL,98.0,496.0,500,0.992,72,...,7.8,6.0,1.1,0.3,0.427,0.327,0.713,4.9,0.101,2018-19
154,8,8T,Mitchell Robinson,20,NYK,0.0,1.0,500,0.002,66,...,6.4,0.6,0.8,2.4,0.694,NaN,0.600,6.1,0.217,2018-19
153,7,8T,Josh Okogie,20,MIN,0.0,1.0,500,0.002,74,...,2.9,1.2,1.2,0.4,0.386,0.279,0.728,1.2,0.034,2018-19
152,6,7,Marvin Bagley,19,SAC,0.0,6.0,500,0.012,62,...,7.6,1.0,0.5,1.0,0.504,0.313,0.691,3.6,0.110,2018-19
151,5,6,Shai Gilgeous-Alexander,20,LAC,0.0,7.0,500,0.014,82,...,2.8,3.3,1.2,0.5,0.476,0.367,0.800,3.3,0.074,2018-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3,4,4,Spud Webb,22,ATL,4.0,4.0,78,0.051,79,...,1.6,4.3,1.0,0.1,0.483,0.182,0.785,3.5,0.137,1985-86
2,3,3,Karl Malone,22,UTA,14.5,14.5,78,0.186,81,...,8.9,2.9,1.3,0.5,0.496,0.000,0.481,1.9,0.036,1985-86
1,2,2,Hakeem Olajuwon,22,HOU,20.5,20.5,78,0.263,82,...,11.9,1.4,1.2,2.7,0.538,NaN,0.613,10.2,0.168,1984-85
0,1,1,Michael Jordan,21,CHI,57.5,57.5,78,0.737,82,...,6.5,5.9,2.4,0.8,0.515,0.173,0.845,14.0,0.213,1984-85
0,1,1,Ralph Sampson,23,HOU,76.0,76.0,76,1.000,82,...,11.1,2.0,0.9,2.4,0.523,0.250,0.661,6.0,0.108,1983-84

In [22]:
all_roy_df.to_excel("all_roy_candidates_1990_2020.xlsx")

In [10]:
all_rookies_df = pd.DataFrame()

In [11]:
for file in rookie_files:
    a = pd.read_excel(file)
    b = pd.DataFrame(a)
    all_rookies_df = all_rookies_df.append(b)

In [17]:
all_rookies_df

,Unnamed: 0,Player,Debut,Age,Yrs,G,MP,FG,FGA,3P,...,PF,PTS,FG%,3P%,FT%,MP.1,PTS.1,TRB.1,AST.1,season
0,1,Ken Austin,"Nov 3, '83, DET @ WSB",22,1,7,28,6,13,0,...,7,12,0.462,NaN,NaN,4.0,1.7,0.4,0.1,1983-84
1,2,Thurl Bailey,"Oct 29, '83, UTA vs. LAL",22,1,81,2009,302,590,0,...,193,692,0.512,NaN,0.752,24.8,8.5,5.7,1.6,1983-84
2,3,Randy Breuer,"Oct 28, '83, MIL vs. IND",23,1,57,472,68,177,0,...,98,168,0.384,NaN,0.696,8.3,2.9,1.9,0.3,1983-84
3,4,Wallace Bryant,"Nov 23, '83, CHI @ UTA",24,1,29,317,52,133,0,...,48,118,0.391,NaN,0.424,10.9,4.1,2.8,0.4,1983-84
4,5,Howard Carter,"Oct 28, '83, DEN vs. UTA",22,1,55,688,145,316,5,...,81,342,0.459,0.263,0.770,12.5,6.2,1.6,1.3,1983-84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2238,55,Mirsad Türkcan,"Nov 19, '99, NYK @ PHO",23,1,17,90,14,38,0,...,14,33,0.368,0.000,0.625,5.3,1.9,1.9,0.3,1999-00
2239,56,Wayne Turner,"Nov 2, '99, BOS @ TOR",23,1,3,41,1,6,0,...,4,4,0.167,NaN,0.333,13.7,1.3,1.0,1.7,1999-00
2240,57,Dedric Willoughby,"Nov 5, '99, CHI vs. MIA",25,1,25,508,61,179,29,...,32,190,0.341,0.296,0.765,20.3,7.6,2.0,2.6,1999-00
2241,58,Metta World Peace,"Nov 3, '99, CHI vs. NYK",20,1,72,2238,309,759,60,...,159,866,0.407,0.314,0.674,31.1,12.0,4.3,2.8,1999-00
2242,59,Tim Young,"Nov 16, '99, GSW vs. CHI",23,1,25,137,13,39,0,...,18,54,0.333,NaN,0.778,5.5,2.2,1.4,0.2,1999-00

In [18]:
# del all_rookies_df['Rk']
del all_rookies_df['Unnamed: 0']
all_rookies_df

,Player,Debut,Age,Yrs,G,MP,FG,FGA,3P,3PA,...,PF,PTS,FG%,3P%,FT%,MP.1,PTS.1,TRB.1,AST.1,season
0,Ken Austin,"Nov 3, '83, DET @ WSB",22,1,7,28,6,13,0,0,...,7,12,0.462,NaN,NaN,4.0,1.7,0.4,0.1,1983-84
1,Thurl Bailey,"Oct 29, '83, UTA vs. LAL",22,1,81,2009,302,590,0,0,...,193,692,0.512,NaN,0.752,24.8,8.5,5.7,1.6,1983-84
2,Randy Breuer,"Oct 28, '83, MIL vs. IND",23,1,57,472,68,177,0,0,...,98,168,0.384,NaN,0.696,8.3,2.9,1.9,0.3,1983-84
3,Wallace Bryant,"Nov 23, '83, CHI @ UTA",24,1,29,317,52,133,0,0,...,48,118,0.391,NaN,0.424,10.9,4.1,2.8,0.4,1983-84
4,Howard Carter,"Oct 28, '83, DEN vs. UTA",22,1,55,688,145,316,5,19,...,81,342,0.459,0.263,0.770,12.5,6.2,1.6,1.3,1983-84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2238,Mirsad Türkcan,"Nov 19, '99, NYK @ PHO",23,1,17,90,14,38,0,6,...,14,33,0.368,0.000,0.625,5.3,1.9,1.9,0.3,1999-00
2239,Wayne Turner,"Nov 2, '99, BOS @ TOR",23,1,3,41,1,6,0,0,...,4,4,0.167,NaN,0.333,13.7,1.3,1.0,1.7,1999-00
2240,Dedric Willoughby,"Nov 5, '99, CHI vs. MIA",25,1,25,508,61,179,29,98,...,32,190,0.341,0.296,0.765,20.3,7.6,2.0,2.6,1999-00
2241,Metta World Peace,"Nov 3, '99, CHI vs. NYK",20,1,72,2238,309,759,60,191,...,159,866,0.407,0.314,0.674,31.1,12.0,4.3,2.8,1999-00
2242,Tim Young,"Nov 16, '99, GSW vs. CHI",23,1,25,137,13,39,0,0,...,18,54,0.333,NaN,0.778,5.5,2.2,1.4,0.2,1999-00

In [20]:
all_rookies_df.to_excel('all_rookies_1990_2020.xlsx')

In [21]:
del all_roy_df['Unnamed: 0']
all_roy_df

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,season
0,1,Ralph Sampson,23,HOU,76.0,76.0,76,1.000,82,32.8,...,11.1,2.0,0.9,2.4,0.523,0.250,0.661,6.0,0.108,1983-84
0,1,Michael Jordan,21,CHI,57.5,57.5,78,0.737,82,38.3,...,6.5,5.9,2.4,0.8,0.515,0.173,0.845,14.0,0.213,1984-85
1,2,Hakeem Olajuwon,22,HOU,20.5,20.5,78,0.263,82,35.5,...,11.9,1.4,1.2,2.7,0.538,NaN,0.613,10.2,0.168,1984-85
0,1,Patrick Ewing,23,NYK,36.0,36.0,78,0.462,50,35.4,...,9.0,2.0,1.1,2.1,0.474,0.000,0.739,3.1,0.084,1985-86
1,2,Xavier McDaniel,22,SEA,16.5,16.5,78,0.212,82,33.0,...,8.0,2.4,1.2,0.5,0.490,0.200,0.687,5.1,0.091,1985-86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,3,Paul Pierce,21,BOS,2.0,2.0,118,0.017,48,34.0,...,6.4,2.4,1.7,1.0,0.439,0.412,0.713,4.9,0.144,1998-99
189,1T,Elton Brand,20,CHI,58.0,58.0,121,0.479,81,37.0,...,10.0,1.9,0.8,1.6,0.482,0.000,0.685,7.5,0.121,1999-00
190,1T,Steve Francis,22,HOU,58.0,58.0,121,0.479,77,36.1,...,5.3,6.6,1.5,0.4,0.445,0.345,0.786,6.4,0.111,1999-00
191,3,Lamar Odom,20,LAC,3.0,3.0,121,0.025,76,36.4,...,7.8,4.2,1.2,1.3,0.438,0.360,0.719,3.2,0.055,1999-00
192,4,Andre Miller,23,CLE,2.0,2.0,121,0.017,82,25.5,...,3.4,5.8,1.0,0.2,0.449,0.204,0.774,5.3,0.122,1999-00